<div class="row">
  <div class="col-lg-6">
    <h2>Sign in</h2>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Netid" ng-model="netid">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="login()">Login</button>
      </span>
    </div>
  </div>
  <div class="col-lg-6">
    <h2>New User</h2>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Netid" ng-model="newUser.netid">
      <input type="text" class="form-control" placeholder="First Name" ng-model="newUser.firstName">
      <input type="text" class="form-control" placeholder="Last Name" ng-model="newUser.lastName">
      <input type="text" class="form-control" placeholder="Phone Number" ng-model="newUser.phoneNumber">
      <input type="text" class="form-control" placeholder="Major" ng-model="newUser.major">
      <!-- <span class="input-group-btn"> -->
        <button class="btn btn-primary" type="button" ng-click="register()" ng-disabled="isRegisterButtonDisabled()">Register</button>
      <!-- </span> -->
    </div>
  </div>
</div>
<br>
<alert type="danger" ng-show="loginFailed">Login Failed</alert>
<br>