<br>
Textbook Name: <input ng-model="textbookDetails.name">
<br>
Textbook ISBN: <input ng-model="textbookDetails.isbn">
<br>
Textbook Course: <input ng-model="textbookDetails.course">
<br>
Textbook Condition:
<select ng-model="textbookDetails.condition">
  <option ng-repeat="condition in textbookConditions">{{condition}}</option>
</select>
<br>
<br>
<button class="btn btn-primary" ng-click="addTextbook()" ng-disabled="isAddTextbookButtonDisabled()">Add Textbook</button>
<button class="btn btn-warning" ng-click="cancel()">Cancel</button>