<button class="btn btn-primary" ng-click="goToAccount()">Go to Account</button>

<h1>All Textbooks</h1>
<br>
Search: <input ng-model="query">
<br>
<br>

<accordion>
  <accordion-group ng-repeat="textbook in textbookManager | filter:query">
    <accordion-heading>
      {{textbook.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
    ISBN: {{textbook.isbn}}
    <br>
    Course: {{textbook.course}}
    <br>
    Condition: {{textbook.condition}}
  </accordion-group>
</accordion>