<button class="btn btn-danger" ng-click="goToFindBooks()">Back to All Textbooks</button>
<button class="btn btn-warning" ng-click="goToAccount()">Go to My Account</button>
<h1>{{textbook.name}}</h1>
<p>Author: {{textbook.author}}</p>
<p>ISBN: {{textbook.isbn}}</p>
<p>Course: {{textbook.course}}</p>

<h3>Sellers:</h3>
<p>From ${{minPrice()}} to ${{(maxPrice())}}</p>

<accordion close-others="false">
  <accordion-group ng-repeat="seller in sellers | filter:query" is-open="status.open">
    <accordion-heading>
      {{seller.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
    <button class="btn btn-success" ng-click="watchTextbook(seller)">Watch</button>
    <button class="btn btn-primary" ng-click="goToSellerPage(seller)">Go to Seller Page</button>
    <br>
    <br>
    <p>Price: ${{seller.price}}</p>
    <p>Condition: {{seller.condition}}</p>
    <p>Email Address: {{seller.email}}</p>
  </accordion-group>
</accordion>